// Login and Register

.auth {
  &.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 2.5em;
    margin: 1.75rem 0;
    text-align: center;
  }

  form {
    max-width: 80vw;
    margin: 0 auto;
    width: 500px;
    padding: 2rem 1rem;
    border-radius: 14px;
    color: white;
    .form-field {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
    }

    label {
      display: block;
      font-size: 1em;
      margin-bottom: 0.5rem;
    }

    input {
      background: rgba(255, 255, 255, 0.1);
      color: white;
      transition: 200ms ease-out;
      &:focus {
        color: black;
        background: rgba(255, 255, 255, 0.85);
        outline: none;
        box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
        &::placeholder {
          color: black;
        }
      }
    }

    input,
    button {
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 1em;
      &:disabled {
        background: rgba(255, 255, 255, 0.25);
        opacity: 0.8;
        &:hover {
          cursor: not-allowed;
        }
      }
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.45);
    }

    button {
      color: white;
      background: rgb(16, 172, 68);
      box-shadow: none;
      width: 100%;
      font-weight: bold;
      transition: 200ms ease-in-out;
      margin-bottom: 1rem;
      &:focus {
        outline: none;
        box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
      }
    }
  }

  .error {
    color: crimson;
    font-weight: bolder;
    margin-bottom: 1em;
  }
}
