.footer {
  position: relative;
  bottom: 0;
  background: rgba(black, 0.5);
  color: #444444;
  padding: 1.5rem;
  margin-top: auto;

  a {
    opacity: 0.7;
    transition: opacity 150ms ease-out;
    &:hover {
      opacity: 1;
    }
  }

  .github-icon img {
    height: 1.5em;
    width: 1.5em;
  }
}

.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  opacity: 0.9;
  span {
    color: rgba(255, 255, 255, 0.575);
    font-weight: 900;
    margin: 0 0.5em;
  }
}
