$green: #4caf50;
$green-alt: #3ec54a;
$purple: #8f2abc;
$cool-text-shadow: rgba(0, 0, 0, 0.2) 1px 4px 2px, rgba(0, 0, 0, 0.2) -2px 3px 8px;
$box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.8), 0px 0px 12px 0px rgba(0, 0, 0, 0.35);

// Screens
$sm: 375px;
$md: 768px;
$xl: 1400px;

// Exercise Colors
$opacity: 0.9;

$gym-bg-color: rgba(0, 150, 136, $opacity);
$run-bg-color: rgba(40, 53, 147, $opacity);
$yoga-bg-color: rgba(#8f2abc, $opacity);
$tennis-bg-color: rgba(106, 170, 2, $opacity);
$tennis-bg-color: rgba(106, 170, 2, $opacity);
$swimming-bg-color: rgba(3, 169, 244, $opacity);
$rock-climbing-bg-color: rgba(82, 82, 82, $opacity);
$cycling-bg-color: rgba(255, 251, 0, $opacity);
$push-ups-bg-color: rgba(#005064, $opacity);

$container-max-width: 1280px;

$blur: blur(2px) grayscale(60%);

$app-bg: repeating-linear-gradient(
    90deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 91px
  ),
  repeating-linear-gradient(
    45deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 91px
  ),
  repeating-linear-gradient(
    0deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 61px
  ),
  repeating-linear-gradient(
    90deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 61px
  ),
  repeating-linear-gradient(
    90deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 16px
  ),
  repeating-linear-gradient(
    0deg,
    hsla(240, 0%, 35%, 0.05) 0px,
    hsla(240, 0%, 35%, 0.05) 1px,
    transparent 1px,
    transparent 16px
  ),
  linear-gradient(90deg, hsl(83, 8%, 8%), hsl(83, 8%, 8%));

$app-bg2: linear-gradient(
    12deg,
    rgba(193, 193, 193, 0.05) 0%,
    rgba(193, 193, 193, 0.05) 2%,
    rgba(129, 129, 129, 0.05) 2%,
    rgba(129, 129, 129, 0.05) 27%,
    rgba(185, 185, 185, 0.05) 27%,
    rgba(185, 185, 185, 0.05) 66%,
    rgba(83, 83, 83, 0.05) 66%,
    rgba(83, 83, 83, 0.05) 100%
  ),
  linear-gradient(
    321deg,
    rgba(240, 240, 240, 0.05) 0%,
    rgba(240, 240, 240, 0.05) 13%,
    rgba(231, 231, 231, 0.05) 13%,
    rgba(231, 231, 231, 0.05) 34%,
    rgba(139, 139, 139, 0.05) 34%,
    rgba(139, 139, 139, 0.05) 71%,
    rgba(112, 112, 112, 0.05) 71%,
    rgba(112, 112, 112, 0.05) 100%
  ),
  linear-gradient(
    236deg,
    rgba(189, 189, 189, 0.05) 0%,
    rgba(189, 189, 189, 0.05) 47%,
    rgba(138, 138, 138, 0.05) 47%,
    rgba(138, 138, 138, 0.05) 58%,
    rgba(108, 108, 108, 0.05) 58%,
    rgba(108, 108, 108, 0.05) 85%,
    rgba(143, 143, 143, 0.05) 85%,
    rgba(143, 143, 143, 0.05) 100%
  ),
  linear-gradient(
    96deg,
    rgba(53, 53, 53, 0.05) 0%,
    rgba(53, 53, 53, 0.05) 53%,
    rgba(44, 44, 44, 0.05) 53%,
    rgba(44, 44, 44, 0.05) 82%,
    rgba(77, 77, 77, 0.05) 82%,
    rgba(77, 77, 77, 0.05) 98%,
    rgba(8, 8, 8, 0.05) 98%,
    rgba(8, 8, 8, 0.05) 100%
  ),
  linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));
