html,
body,
#root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  min-height: 100%;
  overflow: hidden;
}

body {
  min-height: 100vh;
  color: white;
  background-color: #323235;
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), -webkit-gradient(linear, left top, right top, from(#151613), to(#151613));
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), linear-gradient(90deg, #151613, #151613);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
select,
option {
  margin: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1em;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 0.25em 1em;
}

button {
  font-weight: bold;
  border: none;
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 5px solid rgba(51, 51, 51, 0.65);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
  margin: 0 0 1rem 0;
  border-radius: 0.125rem;
}

a:visited,
a:link {
  color: white;
}

a {
  -webkit-transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.loader {
  border: 0.2em solid rgba(255, 255, 255, 0.8);
  /* white */
  border-top: 0.2em solid rgba(255, 255, 255, 0.575);
  /* black tint */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-heading {
  font-size: 2.5em;
  margin: 0;
  font-weight: 300;
  opacity: 0.8;
}

@media screen and (min-width: 1400px) {
  .main-heading {
    margin: 0.25em 0;
    opacity: 0.25;
  }
}

.main-heading b {
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .main-heading span {
    display: none;
  }
}

.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), -webkit-gradient(linear, left top, right top, from(#151613), to(#151613));
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), linear-gradient(90deg, #151613, #151613);
  height: 100%;
  position: relative;
}

.App.modal-open {
  -webkit-filter: blur(2px) grayscale(60%);
          filter: blur(2px) grayscale(60%);
}

.App header.header {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto 5vh;
}

.App main.container {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.App footer > .container {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}

.App .footer {
  position: relative;
  bottom: 0;
  background: black;
  color: white;
  padding: 2rem;
  margin-top: auto;
}

.App .btn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.App .btn.toggle-form {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1rem;
  width: 3rem;
  font-weight: normal;
  display: block;
  margin: 0 1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #a64eff;
  -webkit-box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 320ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 320ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.App .btn.toggle-form svg {
  -webkit-transform: scale(0.667);
          transform: scale(0.667);
}

.App .btn.toggle-form:hover, .App .btn.toggle-form:focus {
  outline: none;
  background: #6921b1;
  -webkit-box-shadow: 0px 2px 13px -4px rgba(255, 255, 255, 0.25), 0px 0px 0px 0.25rem rgba(181, 53, 255, 0.2);
          box-shadow: 0px 2px 13px -4px rgba(255, 255, 255, 0.25), 0px 0px 0px 0.25rem rgba(181, 53, 255, 0.2);
  border: 2px solid #6921b1;
  -webkit-transform: scale(1.08) translateY(-1px);
          transform: scale(1.08) translateY(-1px);
}

.App .btn.toggle-form:active {
  background: #a451f6;
  border: 2px solid rgba(105, 33, 177, 0.5);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-2px) rotate(6deg);
            transform: translateY(-2px) rotate(6deg);
  }
  50% {
    -webkit-transform: translateY(-1px) rotate(-3deg);
            transform: translateY(-1px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translateY(-2px) rotate(6deg);
            transform: translateY(-2px) rotate(6deg);
  }
  50% {
    -webkit-transform: translateY(-1px) rotate(-3deg);
            transform: translateY(-1px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
}

.auth.container {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth h1 {
  font-size: 2.5em;
  margin: 1.75rem 0;
  text-align: center;
}

.auth form {
  max-width: 80vw;
  margin: 0 auto;
  width: 500px;
  padding: 2rem 1rem;
  border-radius: 14px;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#263238), to(#151b1e));
  background: linear-gradient(to bottom right, #263238, #151b1e);
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 1rem -2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 1rem -2px rgba(0, 0, 0, 0.7);
}

.auth form h2 {
  text-shadow: 3px 3px 3px black, 0px 0px 8px rgba(0, 0, 0, 0.9);
}

.auth form .form-field {
  position: relative;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth form .form-field__error {
  position: absolute;
  font-weight: 500;
  font-size: 0.8em;
  color: red;
  right: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.auth form label {
  display: block;
  font-size: 0.75em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.auth form input {
  background: rgba(255, 255, 255, 0.05);
  color: white;
  -webkit-transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  -webkit-box-shadow: 0px 1px 0.3rem -0.1rem rgba(0, 0, 0, 0.6), 0px 0px 0.6rem -0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 0.3rem -0.1rem rgba(0, 0, 0, 0.6), 0px 0px 0.6rem -0.1rem rgba(0, 0, 0, 0.2);
}

.auth form input:focus {
  color: black;
  background: rgba(255, 255, 255, 0.85);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 132, 255, 0.85), 0px 1px 0.3rem -0.1rem rgba(0, 0, 0, 0.6), 0px 0px 0.6rem -0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px 2px rgba(0, 132, 255, 0.85), 0px 1px 0.3rem -0.1rem rgba(0, 0, 0, 0.6), 0px 0px 0.6rem -0.1rem rgba(0, 0, 0, 0.2);
}

.auth form input:focus::-webkit-input-placeholder {
  color: black;
}

.auth form input:focus:-ms-input-placeholder {
  color: black;
}

.auth form input:focus::-ms-input-placeholder {
  color: black;
}

.auth form input:focus::placeholder {
  color: black;
}

.auth form input.has-error {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 0, 0, 0.75);
          box-shadow: inset 0px 0px 0px 2px rgba(255, 0, 0, 0.75);
}

.auth form input,
.auth form button {
  font-weight: 500;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 0.9em;
}

.auth form input:disabled,
.auth form button:disabled {
  background: rgba(83, 83, 83, 0.5);
  opacity: 0.5;
}

.auth form input:disabled:hover,
.auth form button:disabled:hover {
  cursor: not-allowed;
}

.auth form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.auth form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.auth form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.auth form input::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.auth form button {
  color: white;
  background: #10ac44;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  font-weight: bold;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  margin-bottom: 1rem;
}

.auth form button:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
          box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
}

.auth .error {
  color: crimson;
  font-weight: bolder;
  margin-bottom: 1em;
}

.exercises__container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 1rem;
}

@media screen and (min-width: 468px) {
  .exercises__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .exercises__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .exercises__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .exercises__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.exercise {
  background-color: #151512;
  border-radius: 0.75rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  padding: 0.8rem;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.exercise:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 4px red;
          box-shadow: 0px 0px 1px 4px red;
}

@media screen and (min-width: 414px) {
  .exercise {
    grid-column: span 1;
  }
}

.exercise.gym {
  background: rgba(0, 150, 136, 0.9);
  background: linear-gradient(0.35turn, rgba(0, 150, 136, 0.9), rgba(0, 150, 136, 0.625));
  border: 2px solid rgba(0, 150, 136, 0.85);
}

.exercise.gym:hover {
  background-color: rgba(0, 150, 136, 0.8);
}

.exercise.run {
  background: rgba(40, 53, 147, 0.9);
  background: linear-gradient(0.35turn, rgba(40, 53, 147, 0.9), rgba(40, 53, 147, 0.625));
  border: 2px solid rgba(40, 53, 147, 0.85);
}

.exercise.run:hover {
  background-color: rgba(40, 53, 147, 0.8);
}

.exercise.yoga {
  background: rgba(233, 30, 99, 0.9);
  background: linear-gradient(0.35turn, rgba(233, 30, 99, 0.9), rgba(233, 30, 99, 0.625));
  border: 2px solid rgba(233, 30, 99, 0.85);
}

.exercise.yoga:hover {
  background-color: rgba(233, 30, 99, 0.8);
}

.exercise.tennis {
  background: rgba(106, 170, 2, 0.9);
  background: linear-gradient(0.35turn, rgba(106, 170, 2, 0.9), rgba(106, 170, 2, 0.625));
  border: 2px solid rgba(106, 170, 2, 0.85);
}

.exercise.tennis:hover {
  background-color: rgba(106, 170, 2, 0.8);
}

.exercise.swimming {
  background: rgba(3, 169, 244, 0.9);
  background: linear-gradient(0.35turn, rgba(3, 169, 244, 0.9), rgba(3, 169, 244, 0.625));
  border: 2px solid rgba(3, 169, 244, 0.85);
}

.exercise.swimming:hover {
  background-color: rgba(3, 169, 244, 0.8);
}

.exercise.rock-climbing {
  background: rgba(82, 82, 82, 0.9);
  background: linear-gradient(0.35turn, rgba(82, 82, 82, 0.9), rgba(82, 82, 82, 0.625));
  border: 2px solid rgba(82, 82, 82, 0.85);
}

.exercise.rock-climbing:hover {
  background-color: rgba(82, 82, 82, 0.8);
}

.exercise.cycling {
  background: rgba(255, 251, 0, 0.9);
  background: linear-gradient(0.35turn, rgba(255, 251, 0, 0.9), rgba(255, 251, 0, 0.625));
  border: 2px solid rgba(255, 251, 0, 0.85);
  color: black;
}

.exercise.cycling:hover {
  background-color: rgba(255, 251, 0, 0.8);
}

.exercise.push-ups {
  background: rgba(136, 36, 18, 0.9);
  background: linear-gradient(0.35turn, rgba(136, 36, 18, 0.9), rgba(136, 36, 18, 0.625));
  border: 2px solid rgba(136, 36, 18, 0.85);
  color: white;
}

.exercise.push-ups:hover {
  background-color: rgba(136, 36, 18, 0.8);
}

.exercise__duration, .exercise__repetitions {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 1.5em;
}

.exercise__duration span, .exercise__repetitions span {
  display: block;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
}

.exercise__date, .exercise__time, .exercise__day-of-week {
  font-weight: 500;
  text-align: right;
  font-size: 1.25em;
}

.exercise__date {
  -ms-grid-column: 3;
  grid-column: 3;
}

.exercise__time {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  font-size: 0.8em;
  font-weight: 500;
  -ms-grid-column: 3;
  grid-column: 3;
  min-width: 20px;
  opacity: 0.5;
}

.exercise__day-of-week {
  font-size: 1em;
  opacity: 0.8;
}

.exercise__type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 1.25em;
}

.exercise__note {
  font-size: 0.8em;
  color: #bbb;
  margin: 0.25rem 0;
  grid-column: span 2;
  font-style: italic;
}

.exercise__note span {
  font-style: normal;
}

.exercise__distance {
  font-size: 1.5em;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.exercise__distance span {
  display: block;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
}

.exercise__left-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.exercise__right-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.exercise .btn.delete,
.exercise .btn.edit {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  line-height: 1;
  font-weight: 900;
  -webkit-transition: 320ms ease-in-out;
  transition: 320ms ease-in-out;
  -webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.05);
}

.exercise .btn.delete:hover, .exercise .btn.delete:focus,
.exercise .btn.edit:hover,
.exercise .btn.edit:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1rem 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1rem 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.exercise .btn.delete {
  background: rgba(183, 28, 28, 0.75);
}

.exercise .btn.delete:hover, .exercise .btn.delete:focus {
  background: rgba(183, 28, 28, 0.8);
  -webkit-box-shadow: 0px 0px 1px 3px #b71c1c;
          box-shadow: 0px 0px 1px 3px #b71c1c;
}

.exercise .btn.edit {
  background: rgba(20, 123, 220, 0.75);
}

.exercise .btn.edit:hover, .exercise .btn.edit:focus {
  background: #147bdc;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 0px 0px 1px 3px #147bdc;
          box-shadow: 0px 0px 1px 3px #147bdc;
}

.user-exercises__summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
  font-size: 1.2em;
}

@media screen and (min-width: 1400px) {
  .user-exercises__summary {
    font-size: 1.5em;
  }
}

.user-exercises__summary__heading {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.user-exercises__summary__total-exercises, .user-exercises__summary__total-mins, .user-exercises__summary__total-miles {
  font-size: 2.25em;
  text-align: center;
}

.user-exercises__summary__total-exercises span, .user-exercises__summary__total-mins span, .user-exercises__summary__total-miles span {
  display: block;
  font-size: 0.35em;
  text-transform: uppercase;
  font-weight: 500;
}

.user-exercises__summary__total-exercises {
  color: #3ec54a;
  -ms-grid-row: 2;
  grid-row: 2;
}

.user-exercises__summary__total-mins {
  color: grey;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.user-exercises__summary__total-miles {
  -ms-grid-row: 2;
  grid-row: 2;
}

.edit-exercise header {
  margin-bottom: 0.5rem;
}

.edit-exercise .type {
  font-weight: 400;
  position: relative;
}

.edit-exercise .type::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.edit-exercise.yoga .type::after {
  background: rgba(233, 30, 99, 0.8);
  border: 2px solid #e91e63;
}

.edit-exercise.run .type::after {
  background: rgba(40, 53, 147, 0.8);
  border: 2px solid #283593;
}

.edit-exercise.gym .type::after {
  background: rgba(0, 150, 136, 0.8);
  border: 2px solid #009688;
}

.edit-exercise.tennis .type::after {
  background: rgba(106, 170, 2, 0.8);
  border: 2px solid #6aaa02;
}

.add-exercise,
.edit-exercise {
  border-radius: 0.75rem;
  background: #fcfcfc;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75vw;
  padding: 2rem;
  width: 400px;
}

.add-exercise__modal,
.edit-exercise__modal {
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, transparent -40%, rgba(0, 0, 0, 0.3));
}

.add-exercise__modal .divider,
.edit-exercise__modal .divider {
  width: 100%;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
}

.add-exercise .form-field,
.edit-exercise .form-field {
  position: relative;
  color: black;
  margin-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-exercise .form-field label,
.edit-exercise .form-field label {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: 700;
  line-height: 2;
  margin-right: 0.25rem;
}

.add-exercise .form-field input,
.add-exercise .form-field select,
.add-exercise .form-field textarea,
.edit-exercise .form-field input,
.edit-exercise .form-field select,
.edit-exercise .form-field textarea {
  min-height: 30px;
  max-height: 200px;
  font-family: inherit;
  border-radius: 0.5rem;
  color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid rgba(0, 0, 0, 0.15);
  font-size: 1em;
  font-weight: 500;
  line-height: 2;
  padding: 0 0 0 0.5rem;
  margin-right: 0.25rem;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 150ms ease-in;
  transition: -webkit-box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in;
  transition: box-shadow 150ms ease-in, -webkit-box-shadow 150ms ease-in;
}

.add-exercise .form-field input:focus,
.add-exercise .form-field select:focus,
.add-exercise .form-field textarea:focus,
.edit-exercise .form-field input:focus,
.edit-exercise .form-field select:focus,
.edit-exercise .form-field textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
          box-shadow: 0px 0px 1px 3px rgba(0, 132, 255, 0.85);
}

.add-exercise .form-field input.input-error,
.add-exercise .form-field select.input-error,
.add-exercise .form-field textarea.input-error,
.edit-exercise .form-field input.input-error,
.edit-exercise .form-field select.input-error,
.edit-exercise .form-field textarea.input-error {
  border-color: red;
}

.add-exercise .form-field.duration, .add-exercise .form-field.distance,
.edit-exercise .form-field.duration,
.edit-exercise .form-field.distance {
  position: relative;
}

.add-exercise .form-field.duration input, .add-exercise .form-field.distance input,
.edit-exercise .form-field.duration input,
.edit-exercise .form-field.distance input {
  max-width: 80px;
}

.add-exercise .form-field.duration label:last-of-type, .add-exercise .form-field.distance label:last-of-type,
.edit-exercise .form-field.duration label:last-of-type,
.edit-exercise .form-field.distance label:last-of-type {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  position: absolute;
  right: 1.25rem;
}

.add-exercise .form-field .error,
.edit-exercise .form-field .error {
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 0.7em;
  right: 1em;
  bottom: -20%;
  opacity: 0.9;
  background: #da0202;
  border-radius: 5px;
  padding: 3px;
}

.add-exercise .btn,
.edit-exercise .btn {
  margin-right: 0.5rem;
  padding: 0.4rem;
  border-radius: 4px;
  -webkit-transition: opacity 120ms ease-in;
  transition: opacity 120ms ease-in;
}

.add-exercise .btn.add,
.edit-exercise .btn.add {
  color: white;
  background: #4caf50;
}

.add-exercise .btn.add:disabled,
.edit-exercise .btn.add:disabled {
  opacity: 0.5;
  cursor: default;
}

.add-exercise .buttons-container,
.edit-exercise .buttons-container {
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.add-exercise .buttons-container button,
.edit-exercise .buttons-container button {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1em;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add-exercise .buttons-container button.cancel,
.edit-exercise .buttons-container button.cancel {
  background: #eb0d11;
  color: white;
}

.filter {
  border: none;
  border-radius: 50rem;
  background: #e7e7e7;
  color: black;
  font-size: 1em;
  font-weight: 500;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  max-width: 200px;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.filter:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 3px rgba(181, 53, 255, 0.9);
          box-shadow: 0px 0px 1px 3px rgba(181, 53, 255, 0.9);
}

.cancel-svg {
  width: 0.75em;
  height: 0.75em;
  color: white;
}

[class$='__avatar'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  border: 2px solid #707070;
  background-color: #262626;
}

[class$='__initials'] {
  font-size: 0.7em;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .profile.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
  }
}

.profile h1 {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.profile img {
  border-radius: 50%;
  border: 0.1em solid rgba(255, 255, 255, 0.5);
}

.profile__component {
  position: relative;
  max-width: 600px;
  border-radius: 1rem;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 12px -4px rgba(2, 2, 2, 0.719);
          box-shadow: 0px 0px 12px -4px rgba(2, 2, 2, 0.719);
  margin-bottom: 2rem;
}

.profile__component.profile-card {
  border: 2px solid rgba(37, 103, 201, 0.85);
}

@media screen and (min-width: 484px) {
  .profile__component.profile-card .profile__component__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.profile__component__avatar {
  width: 3em;
  height: 3em;
  -ms-grid-column-align: end;
      justify-self: end;
}

.profile__component__initials {
  font-size: 1.5em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.profile__component__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 1rem;
  gap: 1em;
}

.profile__component__header__title {
  text-align: center;
  grid-column: 1/-1;
}

.profile__component__username {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile__component__body h4,
.profile__component__body input {
  margin-bottom: 0.5em;
}

.profile__component__footer .delete-account-btn {
  margin-top: 2rem;
  color: white;
  padding: 0.5rem;
  font-size: 0.8em;
  background-color: rgba(220, 20, 60, 0.4);
  border: 2px solid rgba(220, 20, 60, 0.25);
  border-radius: 3px;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.profile__component__footer .delete-account-btn:focus, .profile__component__footer .delete-account-btn:hover {
  background-color: crimson;
}

.profile__field-input {
  padding: 0.25rem 0.5rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-size: 0.85em;
  font-weight: 500;
  margin: 0;
  text-align: center;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 3px 0px black;
          box-shadow: 0px 0px 3px 0px black;
  background: rgba(255, 255, 255, 0.95);
}

.profile__field-input:disabled {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.profile__edit-field-button {
  border-radius: 3px;
}

.profile__confirm-field-button, .profile__cancel-field-button {
  border-radius: 3px;
  color: white;
  margin-right: 0.5rem;
}

.form-field.unit-system > label input {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.profile__component.friends {
  background: rgba(63, 63, 63, 0.85);
  border-color: #666;
}

.profile__component.friends h2 {
  margin-bottom: 1rem;
}

.profile__component.friends .search-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__component.friends .search-wrapper__heading {
  margin-bottom: 0.5rem;
}

.profile__component.friends .search-wrapper input {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #707070;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 8px;
}

.profile__component.friends .search-wrapper input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.profile__component.friends .search-wrapper input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.profile__component.friends .search-wrapper input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.profile__component.friends .search-wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.profile__component.friends .auto-complete-list {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 105%;
  right: 5%;
  left: 5%;
  list-style: none;
  z-index: 3;
}

.profile__component.friends .auto-complete-item {
  background: black;
  border-radius: 8px;
  margin-bottom: 4px;
  font-size: 0.85em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -webkit-column-gap: 0.25em;
          column-gap: 0.25em;
  padding: 0.75em;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.7);
}

.profile__component.friends .auto-complete-item:hover {
  opacity: 1;
}

.profile__component.friends .auto-complete-item__avatar {
  width: 1.75em;
  height: 1.75em;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1 / -1;
}

.profile__component.friends .auto-complete-item__add {
  color: white;
  border-radius: 0.5rem;
  grid-column-end: -1;
  grid-row: 1 / -1;
  background: #30a315;
  background: transparent;
  background-color: rgba(48, 163, 21, 0.85);
  border: 2px solid #1c7900;
  width: 35px;
  font-size: 0.8em;
  -webkit-transition: 140ms ease-out transform, 120ms ease-in-out background-color;
  transition: 140ms ease-out transform, 120ms ease-in-out background-color;
}

.profile__component.friends .auto-complete-item__add:hover, .profile__component.friends .auto-complete-item__add:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: #30a315;
}

.profile__component.friends .auto-complete-item__username {
  font-weight: bold;
}

.profile__component.friends .auto-complete-item__email {
  font-size: 0.9em;
}

.friend-list p,
.friend-requests p {
  font-weight: 500;
}

.friend-list {
  margin-bottom: 2rem;
}

.friend-requests {
  margin-bottom: 2rem;
}

.friend-requests__header {
  margin-bottom: 0.5rem;
}

.friend-requests__heading {
  margin-bottom: 0.25rem;
}

.friend-requests__subheading {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.friend-request {
  background: royalblue;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.friend-request__buttons button {
  border-radius: 3px;
  margin-right: 0.25rem;
}

.friend-request__buttons button:hover {
  background-color: blueviolet;
}

.friend-card {
  padding: 0.8rem;
  border-radius: 8px;
  background: #222;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr auto;
      grid-template-columns: 1fr 3fr auto;
  max-width: 300px;
}

.friend-card__delete-friend {
  font-size: 0.5em;
  border-radius: 3px;
  background-color: rgba(220, 20, 60, 0.8);
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.friend-card__delete-friend:hover {
  background-color: crimson;
}

.friend-list {
  margin-bottom: 2rem;
}

.friend-list__header {
  margin-bottom: 0.5rem;
}

.friend-list__subheading {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.header {
  pointer-events: initial;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-menu {
  background: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px 0px 0px 100rem rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 0px 100rem rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 30vh;
  z-index: 999;
}

.nav-menu a.nav-link {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
  margin-bottom: 0;
}

.nav-link-wrapper {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  -webkit-transition: 120ms ease-in;
  transition: 120ms ease-in;
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}

.nav-link-wrapper:hover, .nav-link-wrapper:focus {
  outline: none;
  background: rgba(220, 20, 60, 0.95);
}

.nav-link-wrapper:active {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(235, 235, 235, 0.85);
          box-shadow: 0px 0px 0px 3px rgba(235, 235, 235, 0.85);
}

.hamburger-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1000;
}

.hamburger-btn span {
  width: 1rem;
  height: 2px;
  background: white;
  border-radius: 3px;
  position: relative;
  display: block;
  -webkit-transform: translateX(0.2rem);
          transform: translateX(0.2rem);
}

.hamburger-btn span::before, .hamburger-btn span::after {
  content: '';
  display: block;
  border-radius: 3px;
  position: absolute;
  width: 1.25rem;
  height: 2px;
  background: white;
  right: 0;
}

.hamburger-btn span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.hamburger-btn span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-open {
  pointer-events: none;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .user-exercises__summary {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .dashboard {
    margin-bottom: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 1rem;
    background: #1f201d;
  }
  .dashboard .user-exercises__summary {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    margin: 0;
  }
  .dashboard .filter__container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
  }
}

.activity-types {
  margin-bottom: 2rem;
}

.activity-types h2 {
  margin-bottom: 1rem;
}

.activity-types ul {
  margin-bottom: 0;
}

.info-card {
  overflow: hidden;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.045);
  border-radius: 0.75rem;
  border: 2px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 0.5rem;
}

.info-card h3 {
  text-align: center;
  margin-bottom: 0.25rem;
}

.info-card p,
.info-card li {
  font-size: 0.95em;
  font-weight: 500;
}

.info-card li {
  opacity: 0.8;
}

.info-card.open ul {
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .activity-types ul {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .activity-types {
    margin-bottom: 1rem;
  }
  .activity-types > .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.svg-wrapper {
  display: block;
}

.svg-wrapper svg {
  background: rgba(255, 255, 255, 0.192);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 auto;
  display: block;
  color: white;
  fill: white;
}

.modal {
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, transparent -40%, rgba(0, 0, 0, 0.3));
}

.delete-account {
  background-color: white;
  max-width: 500px;
  padding: 2rem;
  border-radius: 8px;
}

.delete-account h2 {
  margin-bottom: 1rem;
}

.delete-account p {
  line-height: 1.4;
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 500px) {
  .chart {
    display: none;
  }
}

.chart__filter {
  background: #20201d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 1rem 0;
}

.chart label {
  opacity: 0.2;
  font-weight: 600;
  margin-left: 0.25em;
}

.chart input[type='checkbox']:checked + label {
  opacity: 1;
}

.custom-tooltip {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 0.5rem;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.custom-tooltip p {
  font-size: 0.8em;
}

.push-up-monitor {
  border: 2px solid rgba(136, 36, 18, 0.9);
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=App.css.map */