// Login and Register

.login,
.register {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      12deg,
      rgba(193, 193, 193, 0.05) 0%,
      rgba(193, 193, 193, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 100%
    ),
    linear-gradient(
      321deg,
      rgba(240, 240, 240, 0.05) 0%,
      rgba(240, 240, 240, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 100%
    ),
    linear-gradient(
      236deg,
      rgba(189, 189, 189, 0.05) 0%,
      rgba(189, 189, 189, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 100%
    ),
    linear-gradient(
      96deg,
      rgba(53, 53, 53, 0.05) 0%,
      rgba(53, 53, 53, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 98%,
      rgba(8, 8, 8, 0.05) 98%,
      rgba(8, 8, 8, 0.05) 100%
    ),
    linear-gradient(334deg, hsl(247, 0%, 2%), hsl(247, 0%, 2%));

  .container {
    width: 90vw;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-top: 2em;
  }

  h1 {
    font-size: 2.5em;
    margin: 1.75rem 0;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem 1rem;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    .form-field {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
    }

    label {
      display: block;
      font-size: 1em;
      margin-bottom: 0.5rem;
    }

    input {
      background: rgba(255, 255, 255, 0.1);
      color: white;
    }

    input,
    button {
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 1em;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.45);
    }

    button {
      width: 80px;
      margin-bottom: 1rem;
    }
  }

  .error {
    color: crimson;
    font-weight: bolder;
    margin-bottom: 1em;
  }
}
