@import './variables';

html,
body,
#root {
  background-color: black;
  height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: white;
  background-color: rgb(50, 50, 53);
  background: $app-bg;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
select,
option {
  margin: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}

select {
  appearance: none;
  background: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 0.25em 1em;
}

button {
  font-weight: bold;
  background: #1fff8f;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 10px -5px #1fff8fe1;
}

hr {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 5px solid rgba(51, 51, 51, 0.65);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
  margin: 1rem 0;
  border-radius: 0.125rem;
}

a:visited,
a:link {
  color: white;
}

a {
  transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: rgba(white, 0.8);
}

.loader {
  $size: 1em;
  $borderSize: 0.2em;
  border: $borderSize solid rgba(255, 255, 255, 0.8); /* white */
  border-top: $borderSize solid rgba(255, 255, 255, 0.575); /* black tint */
  border-radius: 50%;
  width: $size;
  height: $size;
  margin: 0 auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-heading {
  font-size: 2.5em;
  margin: 0;
  font-weight: 300;

  b {
    font-weight: bold;
  }

  span {
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
}

.App {
  display: flex;
  flex-direction: column;

  &.modal-open {
    filter: $blur;
  }

  main.container {
    width: 90vw;
    max-width: $container-max-width;
    margin: 0 auto;
  }

  .btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    &.toggle-form {
      box-shadow: none;
      font-size: 1rem;
      width: 3rem;
      font-weight: normal;
      display: block;
      margin: 0 1rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: #3ec54a;
      background: #a64eff;
      box-shadow: 0px 2px 13px -4px rgba(255, 255, 255, 0.25), inset 0px 0px 6px rgba(0, 0, 0, 0.5);
      svg {
        transform: scale(0.667);
      }
      transition: 240ms ease-out;
      &:hover,
      &:focus {
        animation: bounce 400ms linear;
      }
    }

    @keyframes bounce {
      0% {
        transform: translateY(0px) rotate(0deg);
      }
      25% {
        transform: translateY(-2px) rotate(6deg);
      }
      50% {
        transform: translateY(-1px) rotate(-3deg);
      }
      100% {
        transform: translateY(0px) rotate(0deg);
      }
    }
  }
}

//
@import './auth';
@import './exercises';

// Header

.header {
  position: relative;
  padding: 1rem 0 0 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.nav-menu {
  position: absolute;
  width: 100%;
  background: rgba(187, 187, 187, 0.404);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.hamburger-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    $width: 1.25rem;
    $height: 2px;
    width: 1rem;
    height: $height;
    background: white;
    border-radius: 3px;
    position: relative;
    display: block;
    transform: translateX(0.2rem);

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 3px;
      position: absolute;
      width: $width;
      height: $height;
      background: white;
      right: 0;
    }

    $spacer: 8px;

    &::before {
      transform: translateY(-$spacer);
    }

    &::after {
      transform: translateY($spacer);
    }
  }
}

.menu-open {
  filter: $blur;
}
