html,
body,
#root {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: white;
  background-color: #323235;
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), -webkit-gradient(linear, left top, right top, from(#151613), to(#151613));
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), linear-gradient(90deg, #151613, #151613);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
select,
option {
  margin: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 0.25em 1em;
}

button {
  font-weight: bold;
  background: #1fff8f;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px -5px #1fff8fe1;
          box-shadow: 0px 5px 10px -5px #1fff8fe1;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
}

a:visited,
a:link {
  color: white;
}

a {
  -webkit-transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.loader {
  border: 0.2em solid rgba(255, 255, 255, 0.8);
  /* white */
  border-top: 0.2em solid rgba(22, 109, 0, 0.575);
  /* black tint */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-heading {
  font-size: 2.5em;
  margin: 0;
  font-weight: 300;
}

.main-heading span {
  font-weight: bold;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App.modal-open {
  -webkit-filter: blur(2px) grayscale(60%);
          filter: blur(2px) grayscale(60%);
}

.App .container {
  width: 90vw;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 2em;
}

.App .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .btn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.App .btn.toggle-form {
  display: block;
  margin-left: auto;
}

.App .btn.delete {
  background: crimson;
  color: white;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 900;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.8), 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.8), 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
}

.App .btn.logout {
  -webkit-transition: 200ms;
  transition: 200ms;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.45);
          box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  margin: 0;
}

.login,
.register {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), -webkit-gradient(linear, left top, right top, from(#151613), to(#151613));
  background: repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(45deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 91px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 61px), repeating-linear-gradient(90deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), repeating-linear-gradient(0deg, rgba(89, 89, 89, 0.05) 0px, rgba(89, 89, 89, 0.05) 1px, transparent 1px, transparent 16px), linear-gradient(90deg, #151613, #151613);
}

.login .container,
.register .container {
  width: 90vw;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 1rem;
}

.login h1,
.register h1 {
  font-size: 2.5em;
  margin: 1.75rem 0;
  text-align: center;
}

.login form,
.register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem 1rem;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.login form .form-field,
.register form .form-field {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login form label,
.register form label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.login form input,
.register form input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.login form input,
.login form button,
.register form input,
.register form button {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}

.login form input::-webkit-input-placeholder,
.register form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.login form input:-ms-input-placeholder,
.register form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.login form input::-ms-input-placeholder,
.register form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.login form input::placeholder,
.register form input::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.login form button,
.register form button {
  width: 80px;
  margin-bottom: 1rem;
}

.login .error,
.register .error {
  color: crimson;
  font-weight: bolder;
  margin-bottom: 1em;
}

.exercises__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0.8rem;
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
}

@media screen and (min-width: 768px) {
  .exercises__container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.exercise {
  display: -ms-grid;
  display: grid;
  grid-column: span 2;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  background-color: rgba(255, 255, 255, 0.045);
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

@media screen and (min-width: 414px) {
  .exercise {
    grid-column: span 1;
  }
}

.exercise.gym {
  background: rgba(0, 150, 136, 0.35);
}

.exercise.gym:hover {
  background-color: rgba(0, 150, 136, 0.5);
}

.exercise.run {
  background: rgba(0, 91, 148, 0.35);
}

.exercise.run:hover {
  background-color: rgba(0, 91, 148, 0.5);
}

.exercise.yoga {
  background: rgba(233, 30, 99, 0.35);
}

.exercise.yoga:hover {
  background-color: rgba(233, 30, 99, 0.5);
}

.exercise:hover {
  background: rgba(255, 255, 255, 0.075);
}

.exercise__duration, .exercise__date, .exercise__time, .exercise__note {
  margin: 0;
}

.exercise__duration {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 1.5em;
}

.exercise__duration span {
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
}

.exercise__date, .exercise__time {
  font-weight: 300;
  text-align: right;
  font-size: 0.9em;
}

.exercise__date {
  -ms-grid-column: 3;
  grid-column: 3;
  min-width: 90px;
  font-weight: bold;
}

.exercise__time {
  -ms-grid-column: 3;
  grid-column: 3;
  min-width: 20px;
}

.exercise__type {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  text-transform: uppercase;
  font-size: 0.75em;
}

.exercise__note {
  font-size: 0.8em;
  font-style: italic;
  color: #bbb;
  margin: 0.25rem 0;
  -ms-grid-column: 1;
  grid-column: 1;
}

.exercise__distance {
  font-size: 1.5em;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.exercise__distance span {
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
}

.exercise__left-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 2fr;
      grid-template-columns: 3fr 2fr 2fr;
}

.exercise__right-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exercise .btn.delete {
  position: relative;
}

.exercise .btn.delete i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1.25;
}

.user-exercises__summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.5rem;
  padding: 1rem 0;
  position: relative;
}

.user-exercises__summary__heading {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-exercises__summary__total-exercises, .user-exercises__summary__total-mins, .user-exercises__summary__total-miles {
  font-size: 2.25em;
  text-align: center;
}

.user-exercises__summary__total-exercises span, .user-exercises__summary__total-mins span, .user-exercises__summary__total-miles span {
  display: block;
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 300;
}

.user-exercises__summary__total-exercises {
  color: #3ec54a;
}

.user-exercises__summary__total-mins {
  color: grey;
}

.add-exercise {
  display: -ms-grid;
  display: grid;
  width: 400px;
  max-width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fcfcfc;
  color: black;
  border-radius: 0.25rem;
  padding: 2rem;
}

.add-exercise__modal {
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, transparent -40%, rgba(0, 0, 0, 0.3));
}

.add-exercise__modal .divider {
  width: 100%;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
}

.add-exercise select {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.85em;
  border-color: currentColor;
}

.add-exercise .form-field {
  color: black;
  margin-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-exercise .form-field label {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: 700;
  line-height: 2;
  margin-right: 0.25rem;
}

.add-exercise .form-field input,
.add-exercise .form-field select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1em;
  line-height: 2;
  padding: 0 0 0 0.25rem;
  margin-right: 0.25rem;
  background: rgba(0, 0, 0, 0.025);
}

.add-exercise .form-field.duration, .add-exercise .form-field.distance {
  position: relative;
}

.add-exercise .form-field.duration input, .add-exercise .form-field.distance input {
  max-width: 80px;
}

.add-exercise .form-field.duration label:last-of-type, .add-exercise .form-field.distance label:last-of-type {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
  position: absolute;
  right: 1.25rem;
}

.add-exercise .btn {
  margin-right: 0.5rem;
  padding: 0.4rem;
  border-radius: 4px;
  -webkit-transition: opacity 120ms ease-in;
  transition: opacity 120ms ease-in;
}

.add-exercise .btn.add {
  color: white;
  background: #4caf50;
}

.add-exercise .btn.add:disabled {
  opacity: 0.5;
  cursor: default;
}

.add-exercise .buttons-container {
  margin-bottom: 0;
}

.add-exercise .buttons-container button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1em;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add-exercise .buttons-container button.cancel {
  background: #eb0d11;
  color: white;
}

.filter {
  border: none;
  border-radius: 50rem;
  background: #e7e7e7;
  color: black;
  font-size: 1em;
  font-weight: 500;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  max-width: 150px;
}
/*# sourceMappingURL=App.css.map */