@import './variables';

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: white;
  background-color: rgb(50, 50, 53);
  background: $app-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
select,
option {
  margin: 0;
}

input,
button,
select,
option {
  font-family: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}

select {
  appearance: none;
  background: none;
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 0.25em 1em;
}

button {
  font-weight: bold;
  background: #1fff8f;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 10px -5px #1fff8fe1;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
  margin: 1rem 0;
}

a:visited,
a:link {
  color: white;
}

a {
  transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: rgba(white, 0.8);
}

.loader {
  $size: 1em;
  $borderSize: 0.2em;
  border: $borderSize solid rgba(255, 255, 255, 0.8); /* white */
  border-top: $borderSize solid rgba(22, 109, 0, 0.575); /* black tint */
  border-radius: 50%;
  width: $size;
  height: $size;
  margin: 0 auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//

.main-heading {
  font-size: 2.5em;
  margin: 0;
  font-weight: 300;

  span {
    font-weight: bold;
  }
}

.App {
  display: flex;
  flex-direction: column;

  &.modal-open {
    filter: blur(2px) grayscale(60%);
  }

  .container {
    width: 90vw;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-top: 2em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    &.toggle-form {
      display: block;
      margin-left: auto;
    }

    &.delete {
      background: crimson;
      color: white;
      font-size: 1rem;
      line-height: 1;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-weight: 900;
      box-shadow: $box-shadow;
    }

    &.logout {
      transition: 200ms;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(0, 0, 0, 0.25);
      padding: 0.5rem;
      box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.45);
      border-radius: 8px;
      margin: 0;
    }
  }
}

//
@import './auth';
@import './exercises';
