$green: #4caf50;
$green-alt: #3ec54a;

#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: white;
  background-color: rgb(50, 50, 53);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

input,
button {
  font-family: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1em;
}

button {
  background: #f3f3f3;
  border: none;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

a:visited,
a:link {
  color: white;
}

a:hover {
  color: rgba(rgb(116, 202, 252), 0.8);
}

.loader {
  $size: 0.7em;
  $borderSize: 0.25rem;
  border: $borderSize solid #f3f3f3; /* Light grey */
  border-top: $borderSize solid #344ddb; /* Blue */
  border-radius: 50%;
  width: $size;
  height: $size;
  margin: 0 auto;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;

  .container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .main-heading {
    font-size: 2.5em;
    margin: 0 0 0.25em 0;
  }

  .btn {
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8em;
    margin-bottom: 0.5rem;

    &.delete {
      background: crimson;
      color: white;
    }

    &.logout {
      display: inline-block;

      text-decoration: none;
      background: rgb(88, 88, 88);
      padding: 0.5rem;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    }
  }
}

.add-exercise {
  p {
    margin: 0;
  }

  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  .form-field {
    margin-bottom: 0.75rem;

    input {
      color: white;
      padding: 0rem 0.2rem 0.1rem;
      background: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  .btn {
    margin-right: 0.5rem;
    font-weight: bolder;

    &.add {
      color: white;
      background: $green;
    }
  }
}

.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5em;
    margin: 1.75rem 0;
  }

  form {
    .form-field {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
    }

    label {
      display: block;
      font-size: 1.25em;
      margin-bottom: 0.5rem;
    }

    input,
    button {
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 1em;
    }

    input::placeholder {
      color: rgba(0, 0, 0, 0.45);
    }

    button {
      width: 80px;
      margin-bottom: 1rem;
    }
  }
}

a {
  transition: color 520ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.user-exercises__summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5rem;
  margin-bottom: 0.5rem;

  &__heading {
    color: white;
    grid-column: 1 / -1;
  }

  &__total-exercises,
  &__total-mins {
    font-size: 2.25em;

    span {
      font-size: 0.5em;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  &__total-exercises {
    color: $green-alt;
  }

  &__total-mins {
    color: grey;
  }
}

.exercise {
  max-width: 400px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
  margin-bottom: 1.5rem;

  &__duration,
  &__date,
  &__time,
  &__note {
    margin: 0;
  }

  &__duration {
    grid-row: 1/3;
    font-size: 1.6em;
    font-weight: bolder;

    span {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 500;
    }
  }

  &__date,
  &__time {
    font-weight: 300;
    text-align: right;
    font-size: 0.9em;
  }

  &__date {
    font-weight: bold;
  }

  &__note {
    font-size: 0.8em;
    font-style: italic;
    color: #bbb;
    margin: 0.5rem 0;
  }

  &__left-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &__right-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
